@import url('https://rsms.me/inter/inter.css');
html {
	font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
	html {
		font-family: 'Inter var', sans-serif;
	}
}

body {
	font-family: 'Inter var', sans-serif;
}

.header_container {
	padding: 10px 20px;
	background-color: white;
	text-transform: uppercase;
	position: fixed;
	width: 100%;
	z-index: 10;
	font-size: 24px;
}

.title_secondword {
	color: coral;
}

.title_container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: baseline;
}

a {
	text-decoration: none;
	color: black;
}

.post_container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	flex-direction: column;
	position: relative;
	top: 56px;
	margin: 0 20px;
}

.individual_post {
	border-bottom: 1px dotted black;
	padding: 10px 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.post_author {
	font-size: 12px;
	margin-bottom: 10px;
}

.post_title {
	font-size: 16px;
	margin: 5px 0;
	line-height: 1;
	width: 75%;
}

.post_comments {
	font-size: 12px;
	margin-bottom: 10px;
	font-weight: 300;
}

.post_title:hover {
	text-decoration: underline;
}

.post_info {
	margin: 5px 0;
	font-size: 12px;
	font-weight: 300;
}

@media screen and (min-width: 560px) {
	/* .post_container {
		flex-direction: row;
	} */
	/* .individual_post {
		width: 42%
	} */
}